My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fea6c3f3-6838-4cab-a643-109b9350ccb5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/latest?apikey=pub_473f7f62848e462cb19ac6c0c3211955&q=trending&country=in",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "096cd8ec-9443-4872-b322-32fe869ecfb6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = items[0].json.results;\nconst random = articles[Math.floor(Math.random() * articles.length)];\n\nreturn [{\n  json: {\n    title: random.title,\n    description: random.description\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6969964a-3e91-40d7-85f0-f478cca8b520",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "2a055375-9a89-4428-bdf8-4fc4d8827ea0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bLSS2ak9B3bpyMQj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert tech journalist. Write a complete article based on this trending topic.\n\nTITLE: {{$json.title}}\nDESCRIPTION: {{$json.description}}\n\nRequirements:\n- 100% original\n- Easy to read\n- Add subheadings\n- Add examples\n- Add conclusion\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        0
      ],
      "id": "02e54637-3405-4215-ad8d-3f15f19b805d",
      "name": "GENERATE ARTICLE"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite this news article for LinkedIn in much prfesional and insightful way under 2500 charecters:\n\nHere is the news article: {{ $json.text }}\n\njust give the article as output. no additional text like \"Here is the article\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        -224
      ],
      "id": "92940f01-b38b-48ef-a0db-b88b1d4a765a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        -80
      ],
      "id": "86e59960-f777-408c-bca0-29523507f533",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bLSS2ak9B3bpyMQj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "person": "9a6Xt-B3f0",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1328,
        -224
      ],
      "id": "ff2e6170-1857-485e-8b72-09cdd9dc2ca0",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "yW9SUdXg6HcIt4AV",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite this content as a tweet for Twitter (X):\n- Max 280 characters\n- Punchy, simple, engaging\n- Add relevant trending hashtags\nhere's the content:  {{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        144
      ],
      "id": "d5c7ecb3-672c-4c8c-9bee-0c4ff403a82f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        352
      ],
      "id": "7caa08da-06c1-4ffb-b9c8-0872e6e9fa0a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "bLSS2ak9B3bpyMQj",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1328,
        144
      ],
      "id": "26753fa4-472e-42aa-bafe-9e1c711219d4",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "5th05MpZ1dSfQAFy",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "GENERATE ARTICLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GENERATE ARTICLE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GENERATE ARTICLE": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f5aa33b-c7f6-40c7-a3c3-75537af54f7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9eac8cbb273f42e0ab799d69f2a9f5c7f52180d9613d56914eaf69830784a27"
  },
  "id": "4W1lkJ9iktDlAhm2",
  "tags": []
}